<%- include ('./_layouts/header.ejs') %>
<h1><%= title %></h1>
<form method="POST" action="/users/register">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name">
    </div>
    
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email ID">
    </div>
    
    <div class="form-group">
        <label for="">User Name</label>
        <input type="text" class="form-control" name="username" placeholder="User Name">
    </div>

    
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="">Confirm Password</label>
        <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
    </div>

    <button class="btn btn-default">Register</button>
    </form>
<%- include ('./_layouts/footer.ejs') %>